.wrapper {
  inline-size: 100%;
  padding: var(--padding);
  border-radius: 6px;
  box-shadow: var(--shadow-elevation-medium);
  transition: all 300ms ease-in-out;
}

.wrapper:where(:hover, :focus) {
  transform: translateY(-2px);
}

.title {
  display: block;
  font-size: 1.625rem;
  line-height: 1.3;
  text-decoration: none;
  transition: color 200ms;
  margin-block-end: 0.25rem;
}
.title:hover {
  color: var(--blog-primary-500);
}

.meta {
  margin-block-end: 1em;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

/* .meta > *:not(:first-child)::before {
  content: '•';
  margin-inline: 0.325em;
  font-weight: 700;
  color: var(--gray-500);
} */

.meta p {
  color: var(--blog-decorative-800);
}

/* .meta .tooltip {
  --content-bg: var(--blog-decorative-300);
  padding-block: 0.25em;
  padding-inline: 0.75em;
  background-color: var(--content-bg);
  border-radius: 4px;
} */

.wrapper time {
  display: block;
  font-weight: 500;
  font-size: 1.125rem;
  font-style: italic;
  color: var(--blog-decorative-900);
}

.wrapper p {
  font-size: 1.125rem;
  margin-block: 0;
}

.arrow {
  font-family: var(--fn-fira), monospace;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--blog-primary-500);
  transition: transform 300ms ease-in-out;
}

.readMoreLink {
  display: inline-flex;
  align-items: center;
  text-wrap: nowrap;
  font-weight: 600;
}

.readMoreLink:where(:hover, :focus) {
  text-decoration: underline;
}

.readMoreLink:hover .arrow {
  transform: translateX(4px);
}
