.hero {
  position: relative;
  inline-size: 100%;
  max-inline-size: var(--blog-outer-width);
  margin: 0 auto;
  padding-block: 2em;
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero time {
  font-weight: 500;
}

.meta {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

.meta :where(p, time) {
  color: var(--blog-decorative-800);
  font-size: 1.125rem;
}

@media (min-width: 35rem) {
  .hero p {
    font-size: 1.25rem;
  }
}
