.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: var(--outer-content-width);
  margin: 0 auto;
}

.content {
  position: relative;
  inline-size: 100%;
  max-inline-size: var(--blog-width);
  padding-block: 2em;
  padding-inline: 1em;
}

.content h1 {
  margin-bottom: 0.5rem;
}
.content p {
  font-size: 1.125rem;
  color: var(--blog-decorative-900);
  margin-bottom: 0px;
  font-weight: 400;
}
.content time {
  font-weight: 500;
}

@media (min-width: 35rem) {
  .content p {
    font-size: 1.25rem;
  }
}
