.hero {
  position: relative;
  inline-size: 100%;
  max-inline-size: var(--blog-outer-width);
  margin: 0 auto;
  padding-block: 2em;
  padding-inline: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero h1 {
  margin-block-end: 0.5rem;
}
.hero p {
  font-size: 1.125rem;
  color: var(--blog-decorative-900);
  margin-block-end: 0px;
  font-weight: 400;
}
.hero time {
  font-weight: 500;
}

@media (min-width: 35rem) {
  .hero p {
    font-size: 1.25rem;
  }
}
