.poster {
  position: relative;
  width: 100%;
  height: 100%;
  padding-block: 0.5em;
  padding-inline: 0.5em;
  display: grid;
  place-content: center;
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
  background-blend-mode: multiply;
  border-radius: 50%;
  transition: all 300ms ease;
  cursor: pointer;
  background-color: rgba(20, 20, 20, 0.65);
}

.link {
  min-block-size: 10rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(var(--color-primary-rgb));
}

.poster:where(:hover, :focus) {
  transform: scale(1.05);
  color: rgb(var(--color-accent-rgb));
  background-color: rgba(20, 20, 20, 0.35);
  box-shadow: 0px 0px 16px 0px rgba(20, 20, 20, 0.4);
  text-shadow: 0px 1px 6px rgba(30, 30, 80, 0.5);
}
