.main {
  padding-block: 0.5em;
  padding-inline: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
  gap: 0.5em;
  text-align: center;
}
