.tags {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tags .tag {
  display: flex;
  align-items: center;
  white-space: pre;
  gap: 0.25em;
  border-radius: var(--border-radius);
}

.tagChoice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagChoice input {
  position: relative;
  z-index: 2;
  inline-size: 1rem;
  block-size: 1rem;
  inset-inline-end: -1em;
  margin-inline-end: -0.5em;
}

.tagChoice input + label {
  background: gray;
  padding: 0.75em 0.75em 0.75em 2em;
}

.tagChoice input:checked + label {
  background: yellow;
}

/* img {
  inline-size: 100%;
  block-size: auto;
  max-inline-size: 400px;
  max-block-size: 85vh;
  margin: 0 auto;
  object-fit: cover;
  border-radius: var(--border-radius);
} */

.preview {
  border-inline-start: 6px solid rgba(10, 210, 10, 0.6);
  /* padding-inline-start: 1em; */
}
