.heart {
  position: relative;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: hsl(0 0% 75%);
}

.heart span {
  position: absolute;
  top: 0;
  left: 35%;
  opacity: 0;
  font-size: 1.25rem;
  pointer-events: none;
}

.heart svg {
  fill: hsl(0 0% 75%);
  stroke: hsla(356 71% 40% / 0.95);
}

.favored svg {
  fill: hsl(356 71% 40%);
  stroke: hsla(0deg 0% 75% / 0.95);
}
.heart span {
  color: hsl(0 0% 24%);
}
