.search {
  position: relative;
  width: 100%;
  display: flex;
}

.searchResults {
  background: white;
  position: absolute;
  width: 100%;
  inset-block-start: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  left: 0;
}

.searchInput {
  outline: 0;
  border: 0;
  padding-inline: 0.25em;
  font-size: 1.5rem;
  background: none;
  color: white;
}

.searchResult {
  padding: 10px;
  display: block;
  border-bottom: 1px solid #ececec;
}

.searchResultActive {
  background: #f1f1f1;
}
