.stores {
  margin: 1em auto;
  padding-inline: 0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em 1em;
}

.store {
  max-inline-size: 22.5rem;
  border-radius: 4px;
  background: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
  transition: all 400ms ease-in-out;
}

.store:where(:hover, :focus) {
  transform: translateY(-2px);
}

.storeWide {
  inline-size: 100%;
}

.storeActions {
  position: relative;
  z-index: 1;
  margin-block-start: 1em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
  display: flex;
  color: white;
  align-items: center;
  gap: 0.5em;
}

.storeActions a {
  width: 20px;
  border-bottom: 0;
  color: #1111aa;
  transition: all 250ms ease-in-out;
}

.storeActions a:where(:hover, :focus) {
  scale: 1.1;
}

.storeActions a:active {
  scale: 0.95;
}

.storeActions a svg {
  fill: hsl(0 0% 75%);
}

@media (min-width: 24rem) {
  .storeActions a {
    width: 1.5rem;
  }
}

@media (min-width: 72rem) {
  .storeActions a {
    width: 1.75rem;
  }
}

.storeDescription {
  line-height: 1.7;
  padding-block: 0.5em;
  padding-inline: 0.5em;
}

.title {
  position: relative;
  margin: 0;
  z-index: 1;
  margin-inline-end: 0.25em;
  margin-block-end: 1.35rem;
  align-self: end;
  word-wrap: break-word;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transform: skew(0, -4deg);
}

.store .title {
  text-align: end;
}

.store .title:where(:hover, :focus) {
  animation: expand1 300ms ease-in-out both;
}

.store .title:where(:hover, :focus) a {
  animation: expand2 300ms ease-in-out both;
}

@keyframes expand1 {
  0% {
    margin-inline-end: 0.25em;
  }

  100% {
    margin-inline-end: 0;
  }
}

@keyframes expand2 {
  0% {
    padding-inline-start: 0;
  }
  100% {
    padding-inline-start: 0.5em;
  }
}

.title--long {
  font-size: 30px;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: -1;
  display: block;
  transform: skew(-5deg);
}

.title a {
  padding-block: 0.125em;
  border-bottom: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 196, 14, 0.7) 100%,
    rgba(255, 196, 14, 0.7) 50%
  );
  text-decoration: none;
  color: rgb(var(--color-gray-100));
  transition: all 400ms ease-in-out;
}

.title a:where(:hover, :focus) {
  padding-inline: 0.5em;
  background-image: linear-gradient(
    to right,
    rgba(255, 196, 14, 1) 100%,
    rgba(255, 196, 14, 1) 50%
  );
}

.store .storeImage {
  border-start-start-radius: 4px;
  border-start-end-radius: 4px;
}

.singleStore {
  inline-size: 100%;
  margin-block-start: -1em;
}

.storeHero {
  min-block-size: 16rem;
  position: relative;
  min-inline-size: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
}

.storeHero::before {
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-end: 0;
  background: linear-gradient(
      45deg,
      hsla(190, 95%, 43%, 0.4) 0%,
      hsla(190, 95%, 43%, 0) 70%
    ),
    linear-gradient(
      135deg,
      hsla(219, 93%, 48%, 0.4) 10%,
      hsla(219, 93%, 48%, 0) 80%
    ),
    linear-gradient(
      225deg,
      hsla(293, 93%, 48%, 0.4) 10%,
      hsla(293, 93%, 48%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(130, 96%, 45%, 0.4) 100%,
      hsla(130, 96%, 45%, 0) 70%
    );
  opacity: 0.5;
  z-index: 1;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */
}

.singleStore .singleTitle {
  position: absolute;
  width: 100%;
  margin-block-start: 2.5em;
  margin-inline: unset;
  border: 0;
  padding-inline: 0.25em;
  font-size: 2rem;
  text-align: center;
  line-height: 1.33;
}

.singleStore .singleTitle a {
  text-decoration: none;
  color: rgb(var(--bg-default-rbg));
}

.storeImage {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  object-fit: cover;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); */
}

.singleStore .storeDetails {
  width: 90%;
  margin-block-start: -2rem;
  margin-inline: auto;
  margin-block-end: 2em;
  padding-block-end: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  /* clip-path: polygon(0px 2vw, 100% 0, 100% calc(100% - 2vw), 0% 100%); */
  background: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}

.singleStore .storeDetails figure {
  position: relative;
}

.singleStore .storeDetails p {
  line-height: 1.2;
  margin-bottom: 0;
}

.singleStore .storeLocation {
  position: relative;
  margin-block-start: -0.75em;
  margin-inline-end: 0;
  padding-block: 0.5em;
  padding-inline: 0.75em;
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
  display: inline-block;
  align-self: flex-end;
  background: #222;
  color: white;
}

.singleStore .storeDetails .storeDescription {
  padding-inline-start: 1em;
}

.singleStore .reviewsTitle {
  margin-block-start: 0;
  margin-block-end: 0.75em;
  padding-block: 0.5em;
  padding-inline: 1.5em;
  border-inline-start: 10px solid rgba(250, 170, 30, 1);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}

@media (min-width: 500px) {
  .singleStore .singleTitle {
    margin-block-start: 2em;
    font-size: 2.5rem;
  }

  .storeLocation {
    padding: 1em;
    padding-inline-end: 1.5em;
    margin-inline-end: -2.25em;
  }

  .storeDetails :where(p, li) {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .singleTitle {
    font-size: 3rem;
  }

  .storeLocation {
    padding-inline-end: 2em;
    margin-inline-end: -2.75em;
  }
}

@media all and (max-width: 850px) {
  .store {
    inline-size: calc(50% - 1.25em);
  }
}
@media all and (max-width: 550px) {
  .store {
    inline-size: 100%;
  }
}
