.stores {
  padding-inline: 0.5em;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em 1.25em;
  margin: 0;
}

.store {
  background: white;
  max-inline-size: 350px;
  /* box-shadow: $shad; */
}

.storeWide {
  inline-size: 100%;
}

.singleStore {
  inline-size: 100%;
}

.storeHero {
  min-block-size: 150px;
  min-inline-size: 240px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
}

.storeHero::before {
  display: block;
  content: '';
  position: absolute;
  height: 100%;
  inline-size: 100%;
  inset-block-start: 0;
  inset-inline-end: 0;
  background: linear-gradient(
      45deg,
      hsla(190, 95%, 43%, 0.4) 0%,
      hsla(190, 95%, 43%, 0) 70%
    ),
    linear-gradient(
      135deg,
      hsla(219, 93%, 48%, 0.4) 10%,
      hsla(219, 93%, 48%, 0) 80%
    ),
    linear-gradient(
      225deg,
      hsla(293, 93%, 48%, 0.4) 10%,
      hsla(293, 93%, 48%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(130, 96%, 45%, 0.4) 100%,
      hsla(130, 96%, 45%, 0) 70%
    );
  opacity: 0.6;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.storeActions {
  position: relative;
  z-index: 1;
  margin-block-start: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
  display: flex;
  color: white;
  align-items: center;
  gap: 0.5em;
}

.storeActionEdit a {
  border-bottom: 0;
}

.storeHero img {
  /* height: 100%; */
  inline-size: 100%;
  /* inset-block-start: 0;
  inset-inline-end: 0;
  position: absolute;
  inset-inline-start: 0; */
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.storeImage {
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  object-fit: cover;
  position: absolute;
}

.storeDescription {
  line-height: 1.7;
  padding-block: 0.5em;
  padding-inline: 0.5em;
}

.title {
  position: relative;
  margin: 0;
  z-index: 1;
  margin-inline-end: 0.25em;
  margin-block-end: 0.75em;
  align-self: end;
  word-wrap: break-word;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transform: skew(0, -3deg);
}

.title:where(:hover, :focus) {
  animation: expand1 400ms ease-in-out both;
}

.title:where(:hover, :focus) a {
  animation: expand2 400ms ease-in-out both;
}

@keyframes expand1 {
  0% {
    margin-inline-end: 0.25em;
  }

  100% {
    margin-inline-end: 0;
  }
}

@keyframes expand2 {
  0% {
    padding-inline-start: 0;
  }
  100% {
    padding-inline-start: 0.5em;
  }
}

.title--long {
  font-size: 30px;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: -1;
  display: block;
  transform: skew(-5deg);
}

.title a {
  padding-block: 0.125em;
  border-bottom: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(100%, rgba(255, 196, 14, 0.8)),
    color-stop(50%, rgba(255, 196, 14, 0.8))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(255, 196, 14, 0.8) 100%,
    rgba(255, 196, 14, 0.8) 50%
  );
  background-image: linear-gradient(
    to right,
    rgba(255, 196, 14, 0.8) 100%,
    rgba(255, 196, 14, 0.8) 50%
  );
  text-decoration: none;
  color: rgb(var(--color-gray-100));
}

.singleTitle {
  position: absolute;
  width: 100%;
  font-weight: 700;
  margin-top: 1.5em;
  margin-inline: auto;
  padding-inline: 0.5em;
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.25;
}

.singleTitle a {
  text-decoration: none;
  color: rgb(var(--bg-default-rbg));
}

.storeDetails {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background: white;
  /* clip-path: polygon(0px 2vw, 100% 0, 100% calc(100% - 2vw), 0% 100%); */
  margin-top: -5rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
  margin-inline: auto;
  margin-block-end: 2em;
  padding-block-end: 2em;
  width: 90%;
}

.storeDetails figure {
  position: relative;
  top: -0.5em;
  z-index: 1;
  width: calc(90% + 6rem);
  max-width: none;
  margin-top: -3em;
  margin-left: -3em;
  margin-inline: auto;
}

.storeDetails > *:not(figure) {
  padding-inline: 1.5em;
  font-size: 1.125rem;
}

.storeDetails p {
  line-height: 1.2;
  margin-bottom: 0;
}

.storeLocation {
  position: relative;
  z-index: 2;
  margin: 0;
  margin-block-start: -5em;
  margin-inline-end: -3.5em;
  padding: 1em;
  padding-inline-end: 2em;
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
  display: inline-block;
  align-self: flex-end;
  background: #222;
  color: white;
}

@media (min-width: 500px) {
  .singleTitle {
    font-size: 4.5rem;
  }
}

@media all and (max-inline-size: 850px) {
  .store {
    inline-size: calc(50% - 1.25em);
  }

  .storeLocation {
    margin-inline-end: 0;
  }
}
@media all and (max-inline-size: 550px) {
  .store {
    inline-size: 100%;
  }
}
