.navItem {
  display: flex;
  font-size: 0.75rem;
}

.navLink {
  padding: 0.5em;
  padding-block-end: 0.25em;
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-block-end: 4px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navLink svg {
  flex-shrink: 0;
  font-size: 1.5rem;
  width: 1.35rem;
  stroke: currentColor;
  transition: all 0.2s;
}

.navLink:where(:hover, :focus),
.navLinkActive {
  border-block-end-color: rgba(20, 20, 60, 0.4);
  border-inline-end-color: rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    90deg,
    #48ded4 0% 10%,
    #4026bf 30% 40%,
    #19db2d 50%,
    #4026bf 60% 70%,
    #48ded4 90% 100%
  );
}

.navLink:where(:hover, :focus) svg,
.navLinkActive svg {
  transform: scale(1.2);
}

.navLinkLogo svg {
  width: 200px;
  margin: 0;
}

.navLinkLogo:where(:hover, :focus) svg {
  transform: none;
}

.navItem .avatar {
  inline-size: 100%;
  block-size: 50px;
  border-radius: 50%;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.navSection {
  display: flex;
}

@media all and (max-width: 1200px) {
  .navLink {
    padding-inline: 1em;
  }

  .navLinkLogo svg {
    width: 100px;
  }
}

@media all and (max-width: 900px) {
  .nav {
    flex-wrap: wrap;
  }

  .navSection {
    order: 1;
  }
}

@media all and (max-width: 650px) {
  .navSection {
    inline-size: 100%;
  }

  .navSectionUser {
    order: -1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navSectionUser .avatar {
    inline-size: 20px;
    block-size: 20px;
  }

  .navSectionUser svg {
    display: none;
  }

  .navItem {
    inline-size: 33.333333%;
  }

  .navLink {
    inline-size: 100%;
  }

  .navLink svg {
    max-inline-size: 100%;
  }

  .navLinkLogo svg {
    inline-size: 100%;
  }

  .avatar {
    /* min-inline-size: 20px; */
    block-size: 20px;
  }
}

.heartCount::before {
  content: '♥️';
  margin-inline-end: 1em;
}
