.nav {
  block-size: inherit;
  flex: 1 1 auto;
}

.navList {
  display: flex;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 0;
  inline-size: 100vw;
  block-size: 105vh;
  z-index: 0;
  background-color: rgba(40, 40, 40, 0.6);
  backdrop-filter: blur(2px);
}

.backdrop {
  position: absolute;
  inset: 0;
}

.navItem {
  position: relative;
}

.navItem :where(a, button) {
  z-index: 1;
}

.navLink {
  position: relative;
  text-wrap: nowrap;
}
