.nav {
  block-size: inherit;
}

.navList {
  display: flex;
}

.overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: rgba(40, 40, 40, 0.7);
}

.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
}

.backdrop {
  position: absolute;
  inset: 0;
}

.navItem {
  position: relative;
  block-size: inherit;
}

.navItem :where(a, button) {
  z-index: 1;
}

.navLink {
  position: relative;
}
