.nav {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  padding-inline: 0.5em;
  display: flex;
  align-items: center;
}

.burger {
  margin-block-start: 0.375em;
  align-self: baseline;
  color: var(--blog-decorative-800);
  font-size: 2rem;
}

.navBar {
  --bg: linear-gradient(
    to bottom,
    hsl(var(--blog-decorative-hsl-200), 0.7),
    hsl(var(--blog-decorative-hsl-500), 0.7)
  );
  --tail-width: 4%;
  --width: calc(100% + var(--tail-width));
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc(var(--width) * -1);
  z-index: 1;
  inline-size: calc(var(--width) + 1rem);
  block-size: 101vh;
  margin-inline-start: calc(var(--tail-width) / -2 - 1rem);
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  background: var(--bg);
  /* backdrop-filter: blur(4px); */
}

/* .navBar::before {
  content: '';
  position: absolute;
  z-index: 2;
  inset-inline-end: calc(var(--tail-width) / -2);
  inline-size: var(--tail-width);
  block-size: 100%;
  background: var(--bg);
  filter: blur(1px);
} */

/* .overlay {
  background-color: rgba(40, 40, 40, 0.5);
  backdrop-filter: blur(4px);
  filter: blur(4px);
} */

.open .navBar {
  inset-inline-start: 0;
}

/* .navItem {
  padding: 0.5em 0.75em;
} */

.navItem .navLink {
  padding: 0.5em 1em;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--blog-primary-700);
}

.navItem .navLink svg {
  font-size: 1.25rem;
}

.navItem .navLink.active {
  font-weight: 700;
}

.navItem .highlight {
  /* background: var(--blog-decorative-300); */
  box-shadow: var(--shadow-elevation-medium);
  filter: blur(1px);
}

.navItem .highlight::before {
  content: '';
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 5%;
  z-index: -1;
  inline-size: 90%;
  block-size: 3px;
  margin: 0 auto;
  background: var(--blog-decorative-800);
  opacity: 0.8;
  border-radius: 6px;
}

@media (min-width: 30rem) {
  .navBar {
    --width: 61.8%;
    inset-inline-start: -62%;
  }
}

@media (min-width: 48rem) {
  .nav {
    position: relative;
  }

  .burger.burger {
    display: none;
  }

  .navBar {
    position: relative;
    inset-inline-start: 0;
    inline-size: fit-content;
    block-size: fit-content;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
    background: transparent;
  }

  .navBar::before {
    display: none;
  }

  .navItem .navLink {
    font-size: 1.125rem;
  }

  :root[lang='ar'] .navItem .navLink {
    font-size: 1.25rem;
  }

  .overlay {
    display: none;
  }
}
