.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  min-inline-size: 250px;
  inline-size: 95%;
  transition: all 250ms ease-in-out;
}
