button[data-tooltip='trigger'] {
  position: relative;
}

.tooltip-content {
  z-index: 2;
  padding: 0.5em 0.75em;
  font-size: 0.875rem;
  text-align: center;
}

.tooltip-arrow {
  fill: var(--content-bg);
  stroke: var(--content-bg);
}
