.control {
  --eye-size: 1.5rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-indent: 0;
}

.control label {
  flex: 1 0 auto;
}

.inputContainer {
  position: relative;
  inline-size: 100%;
  max-inline-size: 24rem;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 0.25em;
  padding-inline-end: calc(var(--eye-size) + 0.25rem);
  flex: 1 1 auto;
}

.eye {
  position: absolute;
  inline-size: var(--eye-size);
  inset-inline-end: calc(var(--eye-size) / 2);
  cursor: pointer;
}

@media (min-width: 28rem) {
  .control {
    gap: 0.75em;
  }
}
