.post {
  position: relative;
  z-index: 1;
}

.post .abstract {
  inline-size: 85%;
  margin: 0 auto;
  text-align: center;
  color: var(--blog-decorative-900);
  font-style: italic;
}

.content {
  position: relative;
  padding: 2.5em var(--blog-padding) 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.75em;
}

.body {
  position: relative;
  display: grid;
  grid-template-columns:
    1fr min(var(--trimmed-content-width), 100%)
    1fr;
  max-width: var(--blog-outer-width);
  margin: 0 auto;
  background: var(--color-page-background);
  text-shadow: var(--shadow-page);
}

.body p {
  font-size: 1.25rem;
}

.body code {
  font-family: var(--fn-spline-sans-mono);
}

.body > * {
  grid-column: 2;
}

.body p:not(:first-child) {
  margin-block: 1em;
}

.share {
  position: relative;
}

.shareLinks {
  position: sticky;
  inset-block-start: 6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5em;
}

.shareLinks > * {
  padding: 0.25em;
  border-radius: 50%;
  flex-shrink: 0;
  font-size: 1.5rem;
  color: var(--blog-decorative-800);
  transition: all 300ms ease-in-out;
}

.shareLinks > *:where(:hover, :focus) {
  scale: 1.2;
}

@media (min-width: 48rem) {
  .content {
    flex-direction: row;
  }
}

@media (min-width: 80rem) {
  .body {
    border: 1px solid var(--color-page-border);

    border-radius: 8px;
  }
}
