@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --fn-mono: ui-monospace, 'Source Code Pro', Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Fira Mono',
    'Droid Sans Mono', 'Courier New', monospace;

  --bg-start-rgb: 214, 219, 220;
  --bg-end-rgb: 255, 255, 255;
  --bg-default-rgb: 31, 33, 37;
  --bg-elevated-rgb: 52, 58, 64;
  --color-primary-rgb: 231, 233, 234;
  --color-accent-rgb: 214, 166, 1;

  --color-gray-100: hsl(0, 0%, 10%);
  --color-gray-300: hsl(0, 0%, 25%);
  --color-gray-500: hsl(0, 0%, 50%);
  --color-gray-700: hsl(0, 0%, 75%);
  --color-gray-900: hsl(0, 0%, 90%);

  /* Global Vars */
  --gray-0: white;
  --gray-100: hsl(50, 20%, 90%);
  --gray-200: hsl(50, 15%, 85%);
  --gray-300: hsl(50, 10%, 70%);
  --gray-500: hsl(50, 4%, 50%);
  --gray-700: hsl(50, 10%, 25%);
  --gray-900: hsl(50, 20%, 10%);
  --gray-1000: black;

  --color-notice: hsl(235deg 100% 50%);
  --color-notice-bg: hsl(235deg 0% 95%);
  --color-warning: hsl(35deg 85% 45%);
  --color-warning-bg: hsl(40deg 90% 93%);
  --color-success: hsl(125deg 70% 35%);
  --color-success-bg: hsl(120deg 90% 93%);
  --color-error: hsl(345deg 80% 50%);
  --color-error-bg: hsl(350deg 90% 95%);

  --shadow-color: 250, 35%, 11%;
  /* prettier-ignore */
  --shadow-elevation-low:
  0px 0.6px 0.6px hsl(var(--shadow-color), 0.26),
  0px 0.8px 0.8px -1.6px hsl(var(--shadow-color), 0.22),
  0px 1.8px 1.8px -3.2px hsl(var(--shadow-color), 0.19);
  /* prettier-ignore */
  --shadow-elevation-medium:
  0px 0.3px 0.6px hsl(var(--shadow-color), 0.2),
  0px 0.7px 1.4px -1.1px hsl(var(--shadow-color), 0.19),
  0px 1.5px 3.7px -2.1px hsl(var(--shadow-color), 0.18),
  0.1px 4px 9.2px -3.2px hsl(var(--shadow-color), 0.17),
  0.2px 6px 15px -2.3px hsl(var(--shadow-color), 0.16);
  /* prettier-ignore */
  --shadow-elevation-high:
    0px 0.6px 0.6px hsl(var(--shadow-color), 0.26),
    0px 1.8px 1.8px -0.5px hsl(var(--shadow-color), 0.24),
    0px 3.2px 3.3px -0.9px hsl(var(--shadow-color), 0.23),
    0.1px 5.4px 5.5px -1.4px hsl(var(--shadow-color), 0.21),
    0.1px 9.1px 9.3px -1.8px hsl(var(--shadow-color), 0.2),
    0.2px 14.7px 15px -2.3px hsl(var(--shadow-color), 0.19),
    0.3px 22.8px 23.3px -2.7px hsl(var(--shadow-color), 0.17),
    0.4px 34.2px 34.9px -3.2px hsl(var(--shadow-color), 0.16);

  --scoped-base: #ffc600;
  --scoped-base-rgb: 255, 198, 0;
  --scoped-spacing: 10px;
  --scoped-blur: 10px;

  /* Blog Vars */

  --blog-width: 55rem;
  --blog-outer-width: 80rem;
  --blog-padding: 1em;
  --trimmed-content-width: calc(
    var(--blog-width) - var(--blog-padding) * 2
  )

  --blog-primary-rgb: 31, 33, 34;
  --blog-accent-rgb: 214, 166, 1;
  --blog-bg-rgb: 214, 219, 220;
  --blog-bg-elevated-rgb: 194, 199, 200;

  --blog-text: hsl(0, 0%, 5%);
  --blog-primary-100: hsl(240, 100%, 90%);
  --blog-primary-300: hsl(242, 100%, 70%);
  --blog-primary-500: hsl(245, 100%, 60%);
  --blog-primary-700: hsl(250, 100%, 33%);
  --blog-primary-900: hsl(256, 100%, 20%);
  --blog-primary-contrast: white;
  --blog-secondary: hsl(340, 100%, 50%);
  --blog-decorative-100: hsl(50, 100%, 94%);
  --blog-decorative-200: hsl(50, 100%, 90%);
  --blog-decorative-300: hsl(50, 100%, 85%);
  --blog-decorative-500: hsl(50, 100%, 70%);
  --blog-decorative-600: hsl(50, 100%, 60%);
  --blog-decorative-700: hsl(50, 100%, 50%);
  --blog-decorative-800: hsl(50, 100%, 33%);
  --blog-decorative-900: hsl(50, 100%, 25%);
  --blog-bg-decorative: hsl(50, 100%, 85%, 0.7)

  --blog-backdrop: var(--blog-decorative-500);
  --blog-backdrop-highlight: var(--blog-decorative-300);
  --blog-selection-txt: black;
  --blog-selection-bg: var(--blog-decorative-700);

  --blog-card-bg: var(--gray-0);
  --blog-card-border: transparent;

  --blog-shadow-page: 
    0px 1px 2px hsl(50, 60%, 50%, 0.25),
    0px 3px 6px hsl(50, 60%, 50%, 0.25),
    0px 9px 18px hsl(50, 60%, 50%, 0.25),
    0px 18px 36px hsl(50, 60%, 50%, 0.25),
    0px 54px 108px hsl(50, 60%, 50%, 0.25);
  --blog-shadow-card: 
    0px 1px 2px hsl(50, 20%, 50%, 0.2),
    0px 2px 4px hsl(50, 20%, 50%, 0.2),
    0px 4px 8px hsl(50, 20%, 50%, 0.2),
    0px 8px 16px hsl(50, 20%, 50%, 0.2);
}

:root.dark {
  /* Global Vars */
  --gray-0: black;
  --gray-100: hsl(256, 20%, 10%);
  --gray-200: hsl(256, 15%, 15%);
  --gray-300: hsl(256, 10%, 30%);
  --gray-500: hsl(256, 4%, 50%);
  --gray-700: hsl(256, 10%, 75%);
  --gray-900: hsl(256, 20%, 90%);
  --gray-1000: white;

  /* Blog Vars */

  --blog-primary-rgb: 231, 233, 234;
  --blog-accent-rgb: 214, 166, 1;
  --blog-bg-rgb: 31, 33, 37;
  --blog-bg-elevated-rgb: 52, 58, 64;


  --blog-text: hsl(0, 0%, 100%);
  --blog-primary-100: hsl(50, 100%, 90%);
  --blog-primary-300: hsl(50, 100%, 70%);
  --blog-primary-500: hsl(50, 100%, 50%);
  --blog-primary-700: hsl(50, 100%, 35%);
  --blog-primary-900: hsl(50, 100%, 25%);
  --blog-primary-contrast: black;
  --blog-secondary: hsl(340, 100%, 50%);
  --blog-decorative-100: hsl(256, 20%, 4%);
  --blog-decorative-200: hsl(256, 30%, 10%);
  --blog-decorative-300: hsl(256, 30%, 15%);
  --blog-decorative-500: hsl(256, 40%, 30%);
  --blog-decorative-600: hsl(256, 40%, 40%);
  --blog-decorative-700: hsl(256, 40%, 50%);
  --blog-decorative-800: hsl(256, 45%, 65%);
  --blog-decorative-900: hsl(256, 55%, 80%);
  --blog-bg-decorative: hsl(256, 30%, 15%, 0.7)

  --blog-backdrop: var(--blog-decorative-100);
  --blog-backdrop-highlight: var(--blog-decorative-500);
  --blog-selection-txt: white;
  --blog-selection-bg: hsl(256, 100%, 30%);

  --blog-card-bg: var(--blog-backdrop);
  --blog-card-border: hsl(256, 30%, 50%, 0.2);

  --blog-shadow-page: transparent;
  --blog-shadow-card: transparent;
}

/* CSS Reset */

/*
    Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove default margin
  */
* {
  margin: 0;
}

/* Set core body defaults */
body {
  max-inline-size: 100vw;
  min-block-size: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*
    Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.rtl {
  direction: rtl;
  font-family: 'Lotus';
}

.ltr {
  direction: ltr;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Uthman Taha';
  src: local('KFGQPC Uthman Taha Naskh'),
    url('../../public/fonts/UthmanTN1\ Ver10.otf') format('opentype');
}

@font-face {
  font-family: 'Uthman Taha';
  font-weight: 700;
  src: local('KFGQPC Uthman Taha Naskh'),
    url('../../public/fonts/UthmanTN1B\ Ver10.otf') format('opentype');
}

@font-face {
  font-family: 'Lotus';
  src: local('adwa-assalaf'),
    url('../../public/fonts/adwa-assalaf.ttf') format('truetype');
}

@font-face {
  font-family: 'Lotus';
  font-weight: 700;
  src: local('adwa-assalaf'),
    url('../../public/fonts/adwa-assalaf.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.no-interaction {
  user-select: none;
  pointer-events: none;
}

@keyframes enter {
  from {
    opacity: 0.7;
    transform: translateY(2px);
    filter: blur(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.7;
    filter: blur(2px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

:where(html, body) {
  animation: enter 300ms ease-out;
}

*:not(html, body, img, svg, [data-portal], [data-portal] *) {
  animation: fadeIn 300ms ease-out;
}

html {
  font-family: var(--fn-atkinson);
}

html.next-blog {
  font-family: var(--fn-work-sans), sans-serif;
  letter-spacing: -0.03125em;
  background: var(--blog-backdrop-highlight);
}

.next-blog ::selection {
  background-color: var(--blog-selection-bg) !important;
  color: var(--blog-selection-text) !important;
  background-image: none !important;
  -webkit-text-fill-color: var(--blog-selection-text) !important;
  -moz-text-fill-color: var(--blog-selection-text) !important;
  background-image: none !important;
  background-clip: revert !important;
  -webkit-background-clip: revert !important;
  text-shadow: none !important;
}

.next-blog body {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--blog-decorative-200);
  border-bottom: 3px solid var(--blog-decorative-600);
  color: var(--blog-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.next-blog body::before {
  content: '';
  position: absolute;
  z-index: 0;
  inset-block-start: 0;
  inset-inline: 0;
  block-size: 50vh;
  background: linear-gradient(
    to top,
    var(--blog-backdrop),
    var(--blog-backdrop-highlight)
  );
}

.next-blog body > main {
  flex: 1;
  position: relative;
}

html.next-blog code {
  font-family: var(--fn-spline-sans-mono);
}

@media (min-width: 35rem) {
  :root.next-blog {
    --blog-padding: 1.5em;
  }
}


.next-blog h1 {
  font-size: 1.75rem;
  font-weight: 650;
}
.next-blog h2 {
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}
.next-blog h3 {
  font-size: 1.25rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 500;
}
.next-blog p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}
.next-blog p code {
  display: inline-block;
  font-size: 0.9em;
  background: var(--color-inline-code-bg);
  padding: 3px 6px;
  margin: -0.25em -1px;
  border-radius: 3px;
}
.next-blog a {
  color: currentColor;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.125em;
  font-weight: 500;
  transition: all 200ms;
}
.next-blog a:hover {
  text-underline-offset: 0.175em;
}
.next-blog button {
  padding: 0;
}

@media (min-width: 35rem) {
  .next-blog h1 {
    font-size: 2.25rem;
  }

  .next-blog h2 {
    font-size: 1.75rem;
  }
  .next-blog h3 {
    font-size: 1.5rem;
  }
}
