.navBar {
  position: absolute;
  z-index: 2;
  inset-block-start: 0;
  inset-inline-end: 0;
  block-size: 100vh;
  inline-size: 65vw;
  transform: translateX(calc(100% + 1em));
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 48rem) {
  .navBar {
    position: relative;
    block-size: fit-content;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
  }
}

.navLink {
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  opacity: 0.7;
}

.highlight {
  background: hsl(0deg 0% 100% / 0.2);
  border-radius: 8px;
  border-bottom: 2px solid #888;
}
