.control {
  --eye-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-indent: 0;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  padding: 0.25em;
  padding-inline-end: calc(var(--eye-size) + 0.25rem);
}

.eye {
  position: absolute;
  inline-size: var(--eye-size);
  inset-inline-end: calc(var(--eye-size) / 2);
  cursor: pointer;
}
