.top {
  position: sticky;
  inset-block-start: 0;
  isolation: isolate;
  z-index: 2;
  display: flex;
  background-color: hsl(0, 0%, 13%, 0.8);
  backdrop-filter: blur(4px);
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.navLink {
  padding: 0.5em;
  padding-block-end: 0.25em;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-block-end: 4px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  transition: all 0.35s ease-in-out;
}

.navLink svg {
  flex-shrink: 0;
  font-size: 1.5rem;
  transition: all 350ms ease-in-out;
}

/* .navItem:not(:first-child) .navLinkActive {
  border-block-end-color: rgba(20, 20, 60, 0.4);
  border-inline-end-color: rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    90deg,
    hsl(50, 82%, 78%) 0% 8%,
    hsla(32, 68%, 45%, 0.9) 35% 65%,
    hsl(50, 82%, 78%) 92% 100%
  );
} */

.navItem:first-child .navLinkActive {
  background: transparent !important;
}

.navItem:first-child .navLink:where(:hover, :focus) svg {
  scale: 1.05;
}

.navItem:not(:first-child) .navLink:where(:hover, :focus) svg,
.navItem:not(:first-child) .navLinkActive svg {
  scale: 1.2;
}

.navItem .avatar {
  min-inline-size: 50px;
  block-size: 50px;
  border-radius: 50%;
  align-self: center;
}

.navSection {
  display: flex;
}

.navSectionSearch {
  flex: 1 1 auto;
}

.main {
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  flex: 1 1 auto;
  font-family: var(--fn-atkinson);
  background-color: #ddd;
}

.main h1 {
  margin-block: 0.25em;
  margin-inline: 2em;
  border-inline-start: 0.25em solid hsla(32, 68%, 45%, 1);
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
  padding-inline: 0.5em;
  padding-block: 0.25em;
  align-self: baseline;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: default;
  transition: all 300ms ease-in-out;
}

.notFound {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  font-size: 1.25rem;
}

.notFound::after {
  content: '404';
  position: absolute;
  inset-block-start: 40%;
  inset-inline-start: 36%;
  z-index: -1;
  font-size: 12rem;
  font-weight: 600;
  color: rgba(40, 40, 40, 0.4);
}

.main > a,
.main .notFound > a {
  text-decoration: none;
  color: inherit;
  padding-block: 0.5em;
  padding-inline: 0.75em;
  background-color: hsla(32, 68%, 45%, 1);
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.main > a:where(:hover, :focus),
.main .notFound > a:where(:hover, :focus) {
  background-color: hsla(32, 73%, 50%, 1);
  transform: scale(1.05);
}

.main h1:where(:hover, :focus) {
  border-inline-start: 0.5em solid hsla(32, 73%, 50%, 1);
  padding-inline-start: 0.25em;
  padding-inline-end: 1em;
}

@media all and (max-width: 1200px) {
  .navLink {
    padding-inline: 1em;
  }

  .navLinkLogo svg {
    width: 100px;
  }
}

@media all and (max-width: 900px) {
  .nav {
    flex-wrap: wrap;
  }

  .navSection {
    order: 1;
  }

  .navSectionSearch {
    width: 100%;
    order: 2;
    border-block-start: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media all and (max-width: 650px) {
  .top {
    flex-direction: column;
  }
  .navSection {
    inline-size: 100%;
  }

  .navSectionUser {
    order: -1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navSectionUser .avatar {
    min-inline-size: 20px;
    block-size: 20px;
  }

  .navSectionUser svg {
    display: none;
  }

  .navItem {
    inline-size: 33.333333%;
  }

  .navLink {
    inline-size: 100%;
  }

  .navLink svg {
    max-inline-size: 100%;
  }

  .navLinkLogo svg {
    inline-size: 100%;
  }

  .avatar {
    min-inline-size: 20px;
    block-size: 20px;
  }
}

.heartCount:before {
  content: '♥️';
  margin-inline-end: 1em;
}
