.footer {
  padding-block: 0.5em;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-direction: column;
  color: rgb(var(--color-primary-rgb));
  background-color: rgb(var(--bg-elevated-rgb));
  border-block-start: 2px dashed currentColor;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
