.actionPanel {
  block-size: 350px;
  margin: 1.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  line-height: 1.4em;
}

.tickerInputForm {
  inline-size: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tickerInput.tickerInput {
  block-size: 100%;
  border-radius: 0;
}

.tickerInput:focus {
  outline: 4px solid rgba(0, 0, 255, 0.3);
  outline-offset: 2px;
}

.tickerInputCtrl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.tickerInputCtrl label {
  text-wrap: wrap;
}

.invalidTicker label {
  color: red;
}

.tickerInputCtrl section {
  display: flex;
  margin: 0 auto;
  border: 2px solid;
}

.addTickerBtn.addTickerBtn {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-size: 3em;
  padding: 0.125em 0.25em;
  cursor: pointer;
  border-inline-start: 2px solid;
  border-radius: 0;
}

.generateReportBtn {
  inline-size: 70%;
  padding: 1em 1.5em;
  cursor: pointer;
  font-family: var(--fn-atkinson), sans-serif;
  border: 2px solid #000000;
  background-color: #46ff90;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.09em;
  font-size: 105%;
}

.tickerChoices {
  display: flex;
  align-items: center;
  gap: 0.5em;
  block-size: 3em;
}

.tagLine {
  /* font-family: 'Comic Neue'; */
  font-weight: 700;
  font-size: 14px;
}
