@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  inline-size: min-content;
  block-size: min-content;
  display: inline-block;
  animation: spin var(--speed) linear infinite;
  color: inherit;
}

[dir='rtl'] .wrapper {
  animation-direction: reverse;
}

.wrapper svg {
  /*
    Ensure that the child is block so
    that it spins symmetrically
  */
  display: block;
  max-inline-size: revert;
}
