.localizer {
  position: relative;
  --border-radius: 6px;
  background-color: var(--bg);
}

.icons {
  display: flex;
}

.chevron {
  transition: all 300ms ease-in-out;
}

.up {
  transform: rotate(180deg);
}

:root[lang='ar'] .up {
  transform: rotate(-180deg);
}

:root[lang='ar'] .currentLang {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Lotus, Calibri;
}

.currentLang {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.langs {
  position: fixed;
  z-index: 3;
  inline-size: max-content;
  max-block-size: 61.8vh;
  padding: 0;
  border: 2px solid currentColor;
  border-width: 0;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  font-size: 1.125rem;
  box-shadow: var(--shadow-elevation-medium);
  backdrop-filter: blur(4px);
  background: var(--bg-menu);
  /* overflow-y: auto; */
}

.lang {
  inline-size: 100%;
  padding-block: 0.5em;
  padding-inline: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  text-align: center;
}

.lang.rtl p {
  font-size: 1.25em;
  font-family: Lotus, Calibri;
}

.lang.ltr {
  font-size: 1em;
}

.lang p {
  pointer-events: none;
  text-shadow: 0 0 6px hsl(0, 0%, 13%, 0.5);
}

.active {
  background: var(--bg-active);
  pointer-events: none;
  font-weight: 700;
}

.lang:where(:hover, :focus) {
  background: var(--bg-hover);
}
