.toast {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 8px;
  color: black;
  color-scheme: light;
  background: white;
  max-width: 100%;
  width: 350px;
  box-shadow: var(--shadow-elevation-medium);
  will-change: all;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 1;
  padding: 12px 0px;
  font-weight: 600;
}

.content p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.content :where(button, a) {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  border-color: currentColor;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.notice .content :where(button, a) {
  color: var(--color-notice);
}

.warning .content :where(button, a) {
  color: var(--color-warning);
}

.success .content :where(button, a) {
  color: var(--color-success);
}

.error .content :where(button, a) {
  color: var(--color-error);
}

.content :where(button, a):where(:hover, :focus) {
  transform: scale(1.1);
}

.iconContainer {
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0.75em;
}

.iconContainer svg {
  display: block;
}

.closeButton {
  align-self: flex-start;

  flex-shrink: 0;
  border: none;
  background: transparent;
  padding: 0.75em;
  cursor: pointer;
}

.notice {
  background: var(--color-notice-bg);
}

.notice .iconContainer {
  color: var(--color-notice);
}

.warning {
  background: var(--color-warning-bg);
}

.warning .iconContainer {
  color: var(--color-warning);
}

.success {
  background: var(--color-success-bg);
}

.success .iconContainer {
  color: var(--color-success);
}

.error {
  background: var(--color-error-bg);
}

.error .iconContainer {
  color: var(--color-error);
}
