.toaster {
  position: fixed;
  inset-block-end: 1rem;
  inset-inline-end: 1rem;
  max-block-size: 100vh;
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  gap: 1em;
  padding: 0.5rem;
  list-style-type: none;
}
