.toast {
  --bg-opacity: 0.8;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 8px;
  color: black;
  color-scheme: light;
  background: white;
  max-inline-size: 100%;
  inline-size: 22rem;
  box-shadow: var(--shadow-elevation-medium);
  will-change: all;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex: 1;
  padding: 12px 0px;
  font-weight: 600;
}

.content p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.content :where(button, a) {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  border-color: currentColor;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.notice .content :where(button, a) {
  color: var(--notice);
}

.warning .content :where(button, a) {
  color: var(--warning);
}

.success .content :where(button, a) {
  color: var(--success);
}

.error .content :where(button, a) {
  color: var(--error);
}

.content :where(button, a):where(:hover, :focus) {
  transform: scale(1.1);
}

.iconContainer {
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0.75em;
}

.iconContainer svg {
  display: block;
}

.closeButton {
  align-self: flex-start;

  flex-shrink: 0;
  border: none;
  background: transparent;
  padding: 0.75em;
  cursor: pointer;
}

.notice {
  background: hsl(var(--notice-bg-hsl), var(--bg-opacity));
}

.notice .iconContainer {
  color: var(--notice);
}

.warning {
  background: hsl(var(--warning-bg-hsl), var(--bg-opacity));
}

.warning .iconContainer {
  color: var(--warning);
}

.success {
  background: hsl(var(--success-bg-hsl), var(--bg-opacity));
}

.success .iconContainer {
  color: var(--success);
}

.error {
  background: hsl(var(--error-bg-hsl), var(--bg-opacity));
}

.error .iconContainer {
  color: var(--error);
}
