.header {
  z-index: 2;
  padding: 0.5em 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
  border-bottom: 2px dashed var(--blog-decorative-800);
  background-color: var(--blog-bg-decorative);
  backdrop-filter: blur(4px);
}

.logo {
  z-index: 2;
  margin-inline-start: auto;
  padding-inline-start: 2.5em;
  flex-shrink: 1;
  transition: all 300ms ease-in-out;
}

.logo:where(:hover, :focus) {
  scale: 1.1;
}

@media (min-width: 48rem) {
  .header {
    position: sticky;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 2;
    inline-size: 100%;
    block-size: 4rem;
    flex-flow: row nowrap;
    gap: 1.5em;
    flex-basis: auto;
  }

  .logo {
    padding: 0;
  }
}

.settings {
  z-index: 2;
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  gap: 1em;
  flex-shrink: 0;
}

.settings > * {
  color: var(--blog-decorative-800);
  flex-shrink: 0;
}
