.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  align-self: stretch;
  flex: 2 1 auto;
  inline-size: 100%;
  transition: all 250ms ease-in-out;
}

@media (min-width: 48rem) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
    gap: 1.25em;
  }
}

.wrapper:fullscreen {
  position: absolute;
  height: 100%;
}

.map {
  position: relative;
  inline-size: 100%;
  height: var(--height);
  margin-inline: auto;
  border-radius: 6px;
  background-color: #aaa;
}

.rMap {
  position: absolute;
  height: 100%;
  inline-size: 100%;
  z-index: 10;
}

/* .wrapper:fullscreen .rMap {
  position: absolute;
  z-index: 3;
  inline-size: 100vw;
} */

.map .ol-viewport {
  border-radius: 6px;
}

.overlay {
  user-select: none;
  /* pointer-events: none; */
  position: absolute;
  width: max-content;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #cccccc;
  scale: 0.9;
  transform-origin: top left;
}

.mapButtons {
  position: absolute;
  inline-size: fit-content;
  inset-block-start: 1em;
  inset-inline-end: 0.5em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1.5em;
  background-color: unset;
}

.btnContainer {
  /* inline-size: fit-content;
  display: flex;
  flex-flow: column wrap;
  align-items: center; */
  background-color: unset;
}

.mapButtons .mapButton {
  inline-size: 1.75em;
  block-size: 1.75em;
  padding: 0.125em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(120, 120, 120, 0.7);
  border: 1px solid rgba(120, 120, 120, 0.7);
  box-shadow: var(--shadow-elevation-high);
  cursor: pointer;
}

.mapButtons .mapButton:is(:hover, :focus) {
  border: 1px solid rgba(140, 140, 140, 0.75);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  filter: drop-shadow(0 0 0.75rem #000);
}

.popup {
  position: absolute;
  inline-size: max-content;
  padding: 0.625em 0.825em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background-color: rgba(230, 230, 230, 0.75);
  box-shadow: var(--shadow-elevation-medium);
  border: 2px solid rgba(200, 200, 200, 0.8);
  border-radius: 10px;
  font-size: 1.125rem;
  pointer-events: none;
  user-select: none;
}

.popup .actions {
  margin: 0 auto;
  align-self: center;
  pointer-events: visible;
  user-select: auto;
}
