.form {
  --radius: 6px;
  min-inline-size: 280px;
  max-inline-size: 720px;
  padding: 0.75em;
  margin: 0 auto;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  transition: all 300ms ease-in-out;
}

.title {
  margin-block: 0.25em;
  margin-block-end: 0.125em;
  margin-inline: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.form label {
  padding: 0.25em 0;
  border-radius: var(--radius);
  text-wrap: nowrap;
}

.form p {
  margin: 0 auto;
  display: flex;
  gap: 0.25em;
  justify-content: space-between;
}

.form
  p:has(:not(:where(input[type='radio'], input[type='checkbox'], textarea))) {
  inline-size: 100%;
  flex-direction: column;
  gap: 0.5em;
}

.form p:has(textarea) {
  inline-size: 100%;
}

.form input:not(:where([type='checkbox'], [type='radio'])),
.form textarea {
  inline-size: 100%;
  padding-block: 0.25em;
  padding-inline: 0.5em;
  /* border: 1px solid gray; */
  border-radius: var(--radius);
  font: inherit;
  line-height: 1.5;
  transition: all 300ms ease-in-out;
}

.form p > input {
  max-inline-size: 28rem;
  flex: 1 1 auto;
}

.error {
  border-color: red;
}

.form button,
.submit {
  margin-inline: auto;
  padding-block: 0.5em;
  padding-inline: 1em;
  border: 0;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  gap: 0.5em;
  align-self: center;
  font-weight: 600;
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(10, 10, 20, 0.2));
  transition: all 300ms ease-in-out;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.submit {
  position: relative;
  padding-block: 0.75em;
  padding-inline: 1.25em;
  background: hsl(42 85% 55%);
  font-weight: 700;
}

.submit > span {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.submit:where(:hover, :focus) {
  background: hsl(51 100% 50%);
}

.submit[disabled] {
  background: var(--gray-500);
  cursor: not-allowed;
}

.form > img {
  inline-size: 100%;
  block-size: auto;
  max-inline-size: 400px;
  max-block-size: 85vh;
  margin: 0 auto;
  object-fit: cover;
  border-radius: var(--radius);
}

@media (min-width: 36rem) {
  .form {
    padding: 1em;
  }

  .form p {
    flex-direction: column;
    gap: 0.25em;
    font-size: 1.125rem;
  }

  .form
    p:has(:not(:where(input[type='radio'], input[type='checkbox'], textarea))) {
    flex-direction: row;
    align-items: baseline;
    gap: 0.75em;
  }

  .submit {
    font-size: 1.25rem;
  }
}

@media (min-width: 45rem) {
  .form {
    gap: 1em;
  }

  .form p {
    gap: 0.5em;
    font-size: 1.25rem;
  }

  .form
    p:has(:not(:where(input[type='radio'], input[type='checkbox'], textarea))) {
    gap: 1em;
  }

  .actions {
    flex-direction: row;
  }
}

.loading {
  font-family: (--fn-loading);
}
