.footer {
  position: relative;
  inline-size: 100%;
  max-inline-size: var(--blog-width);
  margin: 0 auto;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1em;
  border-radius: 4px;
  box-shadow: 0 0 10px var(--shadow-color);
  color: var(--blog-decorative-900);
  background-color: var(--blog-decorative-300);
}

.body {
  display: flex;
  flex-direction: column;
}

.footer :where(.body, .nav) {
  z-index: 1;
}

.footer .nav {
  flex-grow: 0;
}

.nav .highlight {
  border-block-end: 2px solid var(--blog-decorative-800);
  filter: drop-shadow(0 0 10px var(--shadow-color));
}

.description,
.attribution {
  margin-block: 0.75em;
  font-size: 0.875rem;
  max-width: 24rem;
}

.description {
  font-size: 1rem;
}

.attribution a {
  color: var(--gray-900);
  text-decoration: none;
  font-weight: 700;
}
.attribution a:hover {
  text-decoration: revert;
  text-underline-offset: 0.125em;
  text-decoration-thickness: 1.5px;
}

.copyright {
  color: var(--gray-500);
}

.linkHeading {
  font-size: 1.25rem;
}

.linkList {
  flex-flow: row wrap;
  gap: 0.75em;
  margin-block: 0.5em;
  padding: 0;
  list-style-type: none;
}
.linkList li:not(:last-child) {
  margin-bottom: 8px;
}
.linkList a {
  text-decoration: none;
  font-size: 1rem;
}

.iconLink span {
  display: none;
}

@media (min-width: 24rem) {
  .iconLink span {
    display: block;
  }
}

@media (min-width: 36rem) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }

  .description,
  .attribution {
    font-size: 1rem;
  }

  .description {
    font-size: 1.125rem;
  }

  .footer .nav {
    flex-direction: column;
  }

  .linkList {
    flex-direction: column;
  }
}
